name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    strategy:
      matrix:
        php-versions: [ '8.4' ]

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install Rust
      uses: dtolnay/rust-toolchain@stable

    - name: Setup PHP with extensions
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php-versions }}
        tools: pie

    - name: Install UmaDB PHP extension
      run: |
        pie install wwwision/umadb-php
        echo "extension=umadb_php.so" | sudo tee -a $(php --ini | grep "Loaded Configuration File" | awk '{print $4}')

    - name: Verify UmaDB extension
      run: php -m | grep umadb

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v3
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress

    - name: Run PHPStan tests
      run: composer run-script test:phpstan

    - name: Run Code Sniffer tests
      run: composer run-script test:cs

    - name: Run integration tests
      run: composer run-script test:integration